*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'poppins', Verdana, Geneva, Tahoma, sans-serif;

}
/* Hero Section */

.hero {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  background-image: url(https://i.pinimg.com/originals/79/a3/84/79a384c3c449ad01b0e57e790807b2c0.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  color: #fff;
  padding: 0 8%;

}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0; 
}

.logo {
  width: 160px;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 10px 30px;

}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.hero h1 {
  font-size: 75px;
  margin-top: 12%;

}

.hero button {
  background-color: #393939;
  border: 0;
  outline: none;
  padding: 15px 35px;
  color: #fff;
  margin-top: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

.indicator span {
  display: inline-block;
  background: #3a3a3a;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
  
}

.indicator {
  margin-top: 150px;
}

.indicator span.active {
  background: #bfbfbf;
}

.cta {
  position: absolute;
  width: 25%;
  min-width: 250px;
right: 8%;
bottom: 100px;
}

 /* Footer Section */ 
 .container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #000;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
